.header {
    padding-top: 19px;
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.navbar {
    z-index: 1;
    transition: all .3s;
}


.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}


.burger-icon span {
    position: relative;
}


.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    position: absolute;
    content: '';
    display: block;
    background-color: var(--general-text);
    border-radius: 100px;
    width: 30px;
    height: 3px;
}


.burger-icon span::after {
    top: 8px;
}

    
.burger-icon span::before {
    bottom: 8px;
}


.body--opened-menu .navbar {
    display: block;
}


.body--opened-menu .burger-icon {
    z-index: 10;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}


.body--opened-menu .burger-icon span::after {
    top: 0;
    transform: rotate(45deg);
}


.body--opened-menu .burger-icon span::before {
    bottom: 0;
    transform: rotate(-45deg)
}


.body--modal-opened {
    overflow: hidden;
}


.body--modal-opened .modal {
    opacity: 1;
    visibility: visible;
}


.navbar__list {
    display: flex;
    gap: 40px;
    
}

.navbar__link {
    position: relative;
    padding: 10px 0;
}


.navbar__link::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    background-color: var(--accent-color);
    position: absolute;
    top: -8px;
    left: -9px;
    z-index: -1;
    opacity: 0;
    transition: all .3s;
}


.navbar__link:hover::before {
    opacity: 1;
}


.hero {
    padding-top: 48px;
    margin-bottom: 140px;
}


.hero-inner {
    display: flex;
    /* gap: 137px; */
    justify-content: space-between;
    align-items: flex-end;

}

.hero-title {
    margin-bottom: 30px;
    max-width: 519px;
}

.title {
    font-family: "Gabriola", sans-serif;
    color: var(--accent-text);
    font-size: 74px;
    line-height: 0.82;
}


.hero-info {
    display: flex;
    margin-bottom: 20px;
}


.hero-info span::after {
    content: '';
    border-radius: 100%;
    background: #b197b2;
    height: 4px;
    width: 4px;
    margin: 0 10px;
}


.hero-info span:last-child::after {
    content: none;
}


.hero-info span {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    line-height: 1.6;
    color: #b197b2;
}



.hero-content p {
    max-width: 358px;
    margin-bottom: 40px;
}


.hero-content .hero__img-control {
    display: none;
}


.hero-image {
    position: relative;
    margin-right: 247px;
    padding-left: 15px;
    max-width: 377px;
}


.hero-image>img {
    width: 100%;
}


.hero__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 11%;
    left: calc(100% - 39px);
    text-align: left;
}


.hero__img-button img {
    padding-left: 8.8%;
}


.hero__button {
    max-width: 358px;
}


.hero__img-button {
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    height: 78px;
    width: 78px;
    background: var(--accent-bg);
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero__img-button::before {
    content: '';
    width: 68px;
    height: 68px;
    position: absolute;
    border-radius: 50%;
    right: 4.8px;
    border: 2px solid var(--accent-color);
    opacity: 0;
    transition: all .3s;
}

.hero__img-button:hover::before {
    opacity: 1;
}