@import url('global.css');
@import url('header.css');

@import url('footer.css');

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 40px;
}

.accordion-list__control {
    font-family: 'Gabriola';
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 40px 30px;
    gap: 15px;

    transition: all .3s;
}

.accordion-list__control-title {
    font-size: 42px;
    line-height: 0.9;
    text-align: left;
}

.accordion-list__control-icon {
    border-radius: 100px;
    border: 1.50px solid var(--accent-color);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    transition: all .3s;
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: all .3s;
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}


.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}


.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}


.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
}

.accordion-content {
    display: flex;
    padding: 0 30px 40px;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__col-title {
    text-transform: uppercase;
    color: #CEAAD0;
    line-height: 1.6;
    margin-bottom: 20px;
}

.accordion-content__item {
    display: flex;
    margin-bottom: 20px;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__item-icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #CEAAD0;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}


/* ========================================================= */

/* ===============About================ */

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px 52px
}

.about__img {
    max-width: 603px;
    position: relative;
    grid-row: 1 / -1;
}

.about__img>img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--general-bg);
    max-width: 299px;
    width: 100%;
    max-height: 108px;
    background: rgba(149, 123, 151, 90%);
    border-radius: 20px;
    padding: 15px 20px;
    bottom: 4.8%;
    left: 5%;
}

.about__img-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    flex-shrink: 0;
    position: relative;
}

.about__img-button::before {
    content: '';
    width: 68px;
    height: 68px;
    position: absolute;
    border-radius: 50%;
    right: 4.8px;
    border: 2px solid #CEAAD0;
    opacity: 0;
    transition: all .3s;
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    display: flex;
    align-items: center;
    width: 296px;
    background: var(--accent-bg);
    border-radius: 20px;
    gap: 15px;
    padding: 30px 24px;
}

.about__grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--general-text);
    flex-shrink: 0;
}


/* ------- Modal ------- */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 15px;
    inset: 0;
    background: #00000044;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.modal__window {
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px 60px;
    display: flex;
    flex-direction: column;
    max-width: 428px;
    width: 100%;
    position: relative;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: all .3s;
}


.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    max-width: 248px;
    margin: -65px 0 15px 13px;
}

.modal__title {
    font-size: 42px;
    line-height: 0.9;
    font-family: 'Gabriola';
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.field {
    position: relative; 
}

.modal__label {
    display: block;
    margin-bottom: 10px;
}

.field span {
    color: #AC907A;
    font-size: 11px;
    position: absolute;
    left: 28px;
    top: 7px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.field__input {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #AC907A;
    padding: 19px 41px 19px 28px;
    background-color: transparent;
    transition: all .3s;
}

.field__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #AC907A;
    transition: all .3s;
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    border: 1px solid var(--accent-color);
    padding: 26px 41px 12px 28px;
}

.field__input:focus + span {
    visibility: visible;
    opacity: 1;
}

.field__input:focus::placeholder {
    color: var(--accent-color);
}


/* ------- Programm ------- */
.main__programm {
    margin-bottom: 140px;
}

.programm__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
}

.programm__title {
    margin-bottom: 20px;
}

.programm__tabs-control {
    display: flex;
    gap: 15px 26px;
}

.tabs-control__link {
    display: block;
    padding: 14px 30px;
    border-radius: 100px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
    background: var(--general-bg);
}

.tabs-control__link--active {
    background: var(--accent-bg);
}

.programm__tab-description {
    display: none;
}

.programm__tab-description--show {
    display: block;
}

.programm__bottom {
    display: flex;
    justify-content: space-between;
}

.programm__action {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    width: 100%;
    flex-shrink: 0;
}

.programm__discount {
    background-color: var(--accent-bg);
    padding: 40px;
    border-radius: 20px;
    font-size: 20px;
    grid-row: 1 / 3;
    max-width: 287px;
}

.programm__discount-value {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-color);
    margin: 0 0 7px 16%;
    animation: discount-grow .8s linear infinite alternate;
    transform-origin: 0 -50%;
}


@keyframes discount-grow {
    0% {
    }


    100% {
        transform: scale(calc(82 / 74)) translateX(4%);
        color: #FF9138;
    }

}


.programm__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.programm__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
    margin-bottom: 5px;
}

.programm__price-value {
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
}

.programm__price-value--big {
    font-size: 50px;
}

.programm__button {
    grid-column: 1 / -1;
}

.programm__img img {
    width: 100%
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}


/* ------- Gallery ------- */
.main__gallery {
    margin-bottom: 140px;
}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: end;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    max-width: 470px;
}

.gallery__img img{
    width: 100%;
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__control {
    display: flex;
    gap: 98px;
    position: relative;
}

.gallery__pagination {
    display: flex;
    position: absolute;
    font-family: Gabriola;
    font-size: 42px;
    line-height: .9;
    left: 40%;
    top: 4%;
    max-width: 38px;
}

.gallery__prev,
.gallery__next {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #ffa55c;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    background: transparent;
    transition: all .3s;
}


.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
}


.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
}


.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid #e1d9e1;;
    cursor: auto;
}


.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #e1d9e1;
}


.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}


.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #e1d9e1;;
}


.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}


.gallery__slide img {
    width: 100%;
}


/* ------- Testimonials -------*/

.main__testimonials {
    margin-bottom: 140px;
}

.testimonials__inner {
    margin-bottom: 40px;
}

.testimonials__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 57px;
}

.testimonials__info {
    max-width: 632px;
}

.testimonials__title {
    margin-bottom: 20px;
}

.testimonials__control {
    display: flex;
    gap: 30px;
}

.testimonials__prev,
.testimonials__next {
    border: 1.5px solid var(--accent-color);
    border-radius: 100px;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    background: transparent;
    transition: all .3s;
}


.testimonials__prev:hover,
.testimonials__next:hover {
    background: var(--accent-color);
}


.testimonials__prev:hover path,
.testimonials__next:hover path {
    fill: var(--general-bg);
}


.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.5px solid #e1d9e1;;
    cursor: auto;
}


.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
    fill: #e1d9e1;
}


.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: transparent;
}


.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
    fill: #e1d9e1;;
}

.testimonials__slider {
    overflow: visible;
}

.testimonials__wrapper {
    margin-bottom: 60px;
}

.testimonials__slide {
    display: flex;
    border-radius: 20px;
    background: var(--accent-bg);
    padding: 30px 30px 40px;
    gap: 30px;
    height: auto;
    transform: scale(1);

    transition: all .3s;
    opacity: 0;
}

.testimonials__slide.swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
}


.testimonials__slide.swiper-slide-prev,
.testimonials__slide.swiper-slide-next {
    opacity: .5;
}

.testimonials__student {
    text-align: center;
    flex-shrink: 0;
}

.testimonials__student-img {
    max-width: 165px;
    margin-bottom: 20px;
    overflow: hidden;
}

.testimonials__student-img img {
    width: 100%;
    border-radius: 20px;
}


.testimonials__student-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: var(--accent-text);
}

.testimonials__student-inst {
    color: #ceaad0;
}

.testimonials__student-quote span {
    display: block;
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
    margin-bottom: 10px;
}

.testimonials-scrollbar {
    background-color: var(--accent-bg);
}

.testimonials-scrollbar .swiper-scrollbar-drag {
    background: var(--accent-color);
}

.testimonials__slider .testimonials-scrollbar {
    position: static;
    width: 100%;
}


/* ------- Contact ------- */

.contact {
    padding: 140px 0;
    background: url(../img/decor/bg-footer.png) 50% 0 / cover no-repeat;
}

.contact__inner {
    display: flex;
    gap: 84px;
    align-items: end;
    position: relative;
}

.contact__inner::before {
    content: url('../img/decor/berries.png');
    position: absolute;
    left: 0;
    top: -4%;
}

.contact__inner::after {
    content: url('../img/decor/berries-2.png');
    position: absolute;
    right: 0;
    top: 8%;
}


.contact__img img{
    width: 100%;
    filter: drop-shadow(0px 4px 30px #c6b0a14d);
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__description {
    margin-bottom: 40px;
}

.contact__tel-input {
    margin-bottom: 20px;
    transition: all .3s;
}


.contact__tel-input {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #AC907A;
    padding: 19px 41px 19px 28px;
    background-color: transparent;
    transition: all .3s;
}

.contact__tel-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #AC907A;
    transition: all .3s;
}

.contact__tel-input:hover {
    border-color: var(--accent-color);
}

.contact__tel-input:hover::placeholder {
    color: var(--accent-color);
}

.contact__tel-input:focus {
    border: 1px solid var(--accent-color);
}

.contact__check {
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    gap: 5px;
}


.contact__check a {
    text-decoration: underline;
}


.check {
    appearance: none;
    border: 2px solid #ac907a;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-top: 2px;

    position: relative;

    transition: all .3s;
}


.check::before {
    content: '';
    background: url("../img/icons/check.svg") no-repeat center;
    position: absolute;
    inset: 0;
    opacity: 0;

}


.check:hover {
    border: 2px solid #ffa55c;
}


.check:checked {
    border: 2px solid #ffa55c;
    background: #ffa55c;
}


.check:checked::before{
    opacity: 1;
}



/* ================================ */
/* =============Media============== */
/* ================================ */

@media (max-width:1250px) {
    .contact__inner::before {
        content: '';
    }

    .contact__inner::after {
        content: '';
    }


    
    /* ============================ */
    .footer-inner {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        justify-content: space-between;
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }

}


@media (max-width:1200px) {
    .hero__img-control {
        display: flex;
        position: static;
        align-items: center;
    }

    
    .hero-image {
        margin-right: 0;
    }


    .programm__top {
        align-items: start;
        gap: 20px;
        flex-direction: column;
    }

}


@media (max-width:1100px) {
    .about__img {
        grid-row: auto;
    }


    .about__grid {
        grid-column: 1 / -1;
    }


    .about__grid-item {
        width: 100%;
        padding: 15px 12px;
    }

    
    .about__body {
        align-self: center;
    }



    /* ============================ */
    .contact__img {
        display: none;
    }


    .contact__inner {
        justify-content: center;
    }

}


@media (max-width:900px) {

    .burger-icon {
        display: flex;
    }


    .navbar {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        opacity: 0;
        visibility: hidden;
        padding: 100px 15px 30px;
        transform: translateY(-50%)
    }

    
    .body--opened-menu .navbar {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%)
    }


    .navbar__list {
        flex-direction: column;
        align-items: center;
    }


    /* ============================ */

    .accordion-list__control {
        padding: 30px 20px;
    }


    .accordion-list__item {
        margin-bottom: 20px;
    }


    .accordion-list__control-title {
        font-size: 35px;
    }


    .programm__img {
        display: none;
    }


    .programm__bottom {
        justify-content: center;
    }


    /* ============================ */
    .gallery__img {
        display: none;
    }


    .gallery__inner {
        grid-template-columns: none;
    }


    /* ============================ */

    .footer-inner {
        gap: 0;
        justify-content: center;
        text-align: center;
        grid-template-columns: auto;
    }


    .footer__col:first-child,
    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }


    .socials__list {
        justify-content: center;
    }

}


@media (max-width:800px) {
    .hero-image {
        display: none;
    }


    .hero-content .hero__img-control {
        display: flex;
        margin-bottom: 30px;
    }


    .hero-inner {
        justify-content: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }


    /* ============================ */

    .about__inner {
        grid-template-columns: none;
        grid-template-rows: auto;
    }


    .about__body {
        text-align: center;
    }


    .about__img {
        max-width: 603px;
        justify-self: center;
    }



    /* ========================= */
    .programm__title {
        text-align: center;
    }


    .programm__top {
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }


    .tabs-control__link {
        display: block;
        padding: 10px 20px;
        border-radius: 100px;
        box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
        background: var(--general-bg);
    }


    .accordion-content {
        flex-direction: column;
        gap: 40px;
    }


    .accordion-content__col:first-child {
        max-width: none;
    }


    .accordion-content {
        padding: 0 20px 25px;
    }


    /* ============================ */
    .testimonials__slide {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .testimonials__slider .testimonials-scrollbar {
        width: 50%;
        margin: 0 auto;
    }


    .testimonials__content {
        align-items: start;
        flex-direction: column;
        gap: 35px 15px;
        margin-bottom: 50px;
    }


    .testimonials__control {
        align-self: end;
    }



    /* ============================ */

    .contact__title {
        text-align: center;
    }

    .contact__description {
        text-align: center;
    }

}


@media (max-width:600px) {
    .main__about {
        padding: 60px 0 80px;
        margin: 60px 0;
    }


    .about__grid {
        grid-template-columns: none;
        gap: 15px;
    }


    .title {
        font-size: 12vw;
    }


    /* ======================= */

    .programm__tabs-control {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 13px;
    }


    .programm__action {
        grid-template-columns: none;
        flex-shrink: 1;
    }


    .programm__price {
        text-align: center;
    }


    .programm__action {
        justify-items: center;
    }


    /* ============================ */
    .gallery__info {
        max-width: none;
        align-self: start;
    }


    .gallery__content {
        gap: 27px 15px;
        flex-direction: column;
    }


    .gallery__inner {
        margin-bottom: 20px;
    }


    /* ============================ */
    .testimonials__slide {
        padding: 20px 10px 20px;
    }

}


@media (max-width:550px) {
    .hero-title {
        font-size: 12vw;
    }



    /* ============================ */

    .accordion-list__control-icon {
        width: 28px;
        height: 28px;
    }

    .accordion-list__control-title {
        font-size: 30px;
    }

}


@media (max-width:450px) {

    .modal__title {
        font-size: 35px;
    }


    .modal__window {
        padding: 0 15px 45px
    }


    /* ============================ */

    .main__programm {
        margin-bottom: 100px;
    }

}


@media (max-width:400px) {
    .modal__img {
        margin-top: -10px;
        width: 75%;
    }


    /* ============================ */

    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        padding: 7px 10px;
        border-radius: 0px 0px 20px 20px;
    }

}


